﻿@model GuestRegistrationSystem.Data.Event

@{
    ViewBag.Title = "Ürituse lisamine";
}

<h2>Ürituse lisamine</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>Event</h4>
    <hr />

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.EventName, "Ürituse nimi:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EventName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, "Toimumisaeg:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", @placeholder = "aaaa.kk.pp hh:mm" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                <text class="text-warning">
                    @ViewBag.WrongDate
                </text>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Location, "Koht:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, "Lisainfo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" class="btn btn-default" onclick="location.href = '@Url.Action("Index", "Home")'" value="Tagasi" />
                <input type="submit" value="Lisa" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
