﻿@model  IEnumerable<GuestRegistrationSystem.Data.Event>

@{
    ViewBag.Title = "Avaleht";
}

<div class="jumbotron">

</div>

<div class="container">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Tulevased üritused</div>
            <div class="panel-body">
                <table class="table table-responsive">
                    @{ int futureCounter = 1; }

                    @foreach (var item in Model)
                    {
                        if (item.Date >= DateTime.Now)
                        {
                            <tr>
                                <td>
                                    @futureCounter<span>. </span>@Html.DisplayFor(modelItem => item.EventName)
                                </td>
                                <td>
                                    @item.Date.Value.ToShortDateString()
                                </td>
                                <td>
                                    @Html.ActionLink("Osavõtjad", "Participants", new { eventId = @item.EventID })

                                    <a href="@Url.Action("Index", new { eventId = @item.EventID })">
                                        <img src="\Items\remove.svg" alt="delete" width="15" />
                                    </a>
                                </td>
                            </tr>

                            futureCounter++;
                        }

                    }
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Toimunud üritused</div>
            <div class="panel-body">
                <table class="table table-responsive col-xs-6">
                    @{ int pastCounter = 1; }

                    @foreach (var item in Model)
                    {
                        if (item.Date < DateTime.Now)
                        {
                            <tr>
                                <td>
                                    @pastCounter<span>.</span> @Html.DisplayFor(modelItem => item.EventName)
                                </td>
                                <td>
                                    @item.Date.Value.ToShortDateString()
                                </td>
                                <td>
                                    @Html.ActionLink("Osavõtjad", "Participants", new { eventId = @item.EventID })

                                    <a href="@Url.Action("Index", new { eventId = @item.EventID })">
                                        <img src="\Items\remove.svg" alt="delete" width="15" />
                                    </a>
                                </td>
                            </tr>

                            pastCounter++;
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>