﻿@model GuestRegistrationSystem.Controllers.HomeController.ParticipantDetailsModel

@{
    ViewBag.Title = "Osavõtja";
}

<h2>Participant</h2>

@using (Html.BeginForm())
{
    <h4>Participant</h4>
    <hr />

    <div class="form-horizontal">

        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
        @Html.HiddenFor(model => model.ParticipantClass.ParticipantID)

        @if (Model.PersonClass != null)
        {
            @Html.HiddenFor(model => model.PersonClass.PersonID)
            @Html.HiddenFor(model => model.PersonClass.ParticipantID)

            <div class="form-group">
                @Html.LabelFor(model => model.PersonClass.FName, "Eesnimi: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PersonClass.FName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PersonClass.FName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PersonClass.LName, "Perenimi: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PersonClass.LName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PersonClass.LName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PersonClass.PersonalCode, "Isikukood: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PersonClass.PersonalCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PersonClass.PersonalCode, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        else
        {
            @Html.HiddenFor(model => model.CompanyClass.CompanyID)
            @Html.HiddenFor(model => model.CompanyClass.ParticipantID)


            <div class="form-group">
                @Html.LabelFor(model => model.CompanyClass.CompName, "Ettevõtte nimi: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CompanyClass.CompName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CompanyClass.CompName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CompanyClass.RegistrationNumber, "Registrinumber: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CompanyClass.RegistrationNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CompanyClass.RegistrationNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CompanyClass.GuestCount, "Osalejate arv: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CompanyClass.GuestCount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CompanyClass.GuestCount, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        <div class="form-group">
            @Html.LabelFor(model => model.ParticipantClass.PaymentMethod, "Maksmisviis: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ParticipantClass.PaymentMethod, new SelectList (Model.paymentTypes))
                @Html.ValidationMessageFor(model => model.ParticipantClass.PaymentMethod, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (Model.PersonClass != null)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.PersonClass.Comment, "Lisainfo: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PersonClass.Comment, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PersonClass.Comment, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                @Html.LabelFor(model => model.CompanyClass.Comment, "Lisainfo: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.CompanyClass.Comment, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CompanyClass.Comment, "", new { @class = "text-danger" })
                </div>
            </div>
        }
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" onclick="location.href = '@Url.Action("Index", "Home")'" class="btn btn-default" value="Tagasi" />
            <input type="submit" value="Salvesta" class="btn btn-default" />
        </div>
    </div>
}



