﻿@model GuestRegistrationSystem.Controllers.HomeController.EventParticipantsModel

@{
    ViewBag.Title = "Osavõtjad";
    int counter = 1;
}

<h2>Osavõtjad</h2>

<dl class="dl-horizontal">
    <dt>Ürituse nimi: </dt>
    <dd>
        @Html.DisplayFor(model => model.EventClass.EventName)
    </dd>

    <dt>Toimumisaeg: </dt>
    <dd>
        @Html.DisplayFor(model => model.EventClass.Date)
    </dd>

    <dt>Koht: </dt>
    <dd>
        @Html.DisplayFor(model => model.EventClass.Location)
    </dd>

    <dt>Osavõtjad: </dt>
    <br />
    <dd>
        <table class="table-condensed">
            @foreach (var item in Model.EventClass.EventParticipants)
            {
                <tr>
                    @if (item.Participant.People.Select(x => x.PersonalCode).FirstOrDefault() != null)
                    {
                        <td>
                            @counter<span>. </span> @item.Participant.People.Select(x => x.FName).FirstOrDefault()
                            @item.Participant.People.Select(x => x.LName).FirstOrDefault()
                        </td>
                        <td>
                            @item.Participant.People.Select(x => x.PersonalCode).FirstOrDefault()
                        </td>
                    }
                    else
                    {
                        <td>
                            @counter<span>. </span> @item.Participant.Companies.Select(x => x.CompName).FirstOrDefault()
                        </td>
                        <td>
                            @item.Participant.Companies.Select(x => x.RegistrationNumber).FirstOrDefault()
                        </td>
                    }

                    <td>
                        @Html.ActionLink("Vaata", "Participant", new { id = item.ParticipantID })
                        @Html.ActionLink("Kustuta", "Participants", new { eventId = item.EventID, participantId = item.ParticipantID })
                    </td>
                </tr>

                counter++;
            }
        </table>
    </dd>
</dl>


<h2>Osavõtjate lisamine</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.EventClass.EventID)

        <div class="container">
            <div class="col-md-offset-2">
                <input type="radio" name="participantType" onclick="changeType(1)" id="PersonButton" /> Eraisik
                <input type="radio" name="participantType" onclick="changeType(2)" id="CompanyButton" style="margin-left:2.5em" /> Ettevõte
            </div>
        </div>

        <br />

        <script language="javascript">
            var type = 1;

            function changeType(type) {
                if (type == 1) {
                    document.getElementById("personForm").style.display = "block";
                    document.getElementById("personFormComment").style.display = "block";
                    document.getElementById("companyForm").style.display = "none";
                    document.getElementById("companyFormComment").style.display = "none";
                }
                else if (type == 2) {
                    document.getElementById("companyForm").style.display = "block";
                    document.getElementById("companyFormComment").style.display = "block";
                    document.getElementById("personForm").style.display = "none";
                    document.getElementById("personFormComment").style.display = "none";
                }
            }
        </script>

        <div name="personForm" id="personForm" style="display:block">

            <div class="form-group">
                @Html.LabelFor(model => model.PersonClass.FName, "Eesnimi: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PersonClass.FName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PersonClass.FName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PersonClass.LName, "Perenimi: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PersonClass.LName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PersonClass.LName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PersonClass.PersonalCode, "Isikukood: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PersonClass.PersonalCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PersonClass.PersonalCode, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div name="companyForm" id="companyForm" style="display:none">

            <div class="form-group">
                @Html.LabelFor(model => model.CompanyClass.CompName, "Ettevõtte nimi: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CompanyClass.CompName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CompanyClass.CompName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CompanyClass.RegistrationNumber, "Registrinumber: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CompanyClass.RegistrationNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CompanyClass.RegistrationNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CompanyClass.GuestCount, "Osalejate arv: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CompanyClass.GuestCount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CompanyClass.GuestCount, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ParticipantClass.PaymentMethod, "Maksmisviis: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ParticipantClass.PaymentMethod, new SelectList (Model.paymentTypes) )
                @Html.ValidationMessageFor(model => model.ParticipantClass.PaymentMethod, "", new { @class = "text-danger" })
            </div>
        </div>


        <div name="personForm" id="personFormComment" style="display:block">
            <div class="form-group">
                @Html.LabelFor(model => model.PersonClass.Comment, "Lisainfo: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.PersonClass.Comment, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PersonClass.Comment, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div name="companyForm" id="companyFormComment" style="display:none">
            <div class="form-group">
                @Html.LabelFor(model => model.CompanyClass.Comment, "Lisainfo: ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.CompanyClass.Comment, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CompanyClass.Comment, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" onclick="location.href = '@Url.Action("Index", "Home")'" class="btn btn-default" value="Tagasi" />
            <input type="submit" value="Salvesta" class="btn btn-default" />
        </div>
    </div>

}

